.alinear {
    text-align: center;
    margin-top: 20px;
}

ul li {
    list-style: none;
}

.rightbtn {
    margin-left: auto;
}

.lefbtn {
    margin-left: 0;
}

.lefbtn .activo {
    margin-right: 15px;
}

.activo {
    background-color: #005f00;
    color: #ffffff;
}

.inactivo {
    background-color: #727272;
    color: #ffffff;
}

table {
    width: 100%;
}

mat-form-field {
    width: 240%;
}

.mat-cell:nth-chield(1),
.mat-header-cell:nth-chield(1) {
    flex: 0 0 6%;
}