<script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
        t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "m8kg6c5864");
</script>
<div class="dashboard-container ">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="app-name">Gestión de Inventarios</h1>
        <div class="right">
            <ul>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <mat-icon>exit_to_app</mat-icon>
                        Cerrar Sesión
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar>

    <!--empieza sidenav-->
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56: 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches? 'over': 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <!--profile-->
                <div class="profile-card">
                    <div class="header">
                        <h2>Yeferson Nova</h2>
                        <h4>yeferson_nova&#64;outlook.com</h4>
                    </div>
                </div>
                <!--menu-->
                <mat-divider></mat-divider>

                <a class="a-icon" mat-list-item [routerLink]="nav.route" *ngFor="let nav of menuNav">
                    <mat-icon class="icono">{{nav.icon}}</mat-icon>
                    {{nav.name}}
                </a>

            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>


</div>